table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  }
   */
  .checkbox{
      width: 5%;
  }
  /* ======================= */
  #col-1 {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
   
  }
  
  #col-2 {
    position: relative;
    width: 50%;
    float: right;
    height: 100%;
 
  }